.inputs {
	display: flex;
	gap: 5px;
}

.search-item {
	flex: 1;
	display: flex;
	gap: 5px;
}

.search-item label {
	align-self: center;
}

input[type='search'] {
	appearance: none;
	outline: none;
	flex: 1;
	max-width: 500px;
	padding: 8px;

	border: 1px solid grey;
	border-radius: 5px;
	font-size: 1.1rem;

	&:focus,
	&:focus-visible {
		box-shadow: 0 0 6px 1px darkcyan;
	}
}

.degree-selector * {
	user-select: none;
	-webkit-tap-highlight-color: transparent;

	&:focus {
		outline: none;
	}
}

.knobs,
.layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.button {
	position: relative;
	width: 74px;
	height: 100%;
	overflow: hidden;
}

.button.r,
.button.r .layer {
	border-radius: 100px;
}

.button.b2 {
	border-radius: 2px;
}

.checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}

.knobs {
	z-index: 2;
}

.layer {
	width: 100%;
	background-color: #ebf7fc;
	border: 1px solid grey;
	border-radius: 60px;

	transition: 0.3s ease all;
	z-index: 1;
}

#button-10 .knobs::before,
#button-10 .knobs::after,
#button-10 .knobs span {
	position: absolute;
	top: 4px;
	width: 40%;
	height: 80%;

	display: grid;
	place-content: center;
	text-align: center;

	font-size: 10px;
	font-weight: bold;
	border-radius: 50px;
	transition: 0.3s ease all;
}

#button-10 .knobs::before {
	content: '';
	left: 4px;
	background-color: #03a9f4;
}

#button-10 .knobs::after {
	content: 'F';
	right: 2px;
	color: #4e4e4e;
}

#button-10 .knobs span {
	left: 4px;
	color: #fff;
	z-index: 1;
}

#button-10 .checkbox:checked + .knobs span {
	color: #4e4e4e;
}

#button-10 .checkbox:checked + .knobs::before {
	left: 42px;
	background-color: #f44336;
}

#button-10 .checkbox:checked + .knobs::after {
	color: #fff;
}

#button-10 .checkbox:checked ~ .layer {
	background-color: #fcebeb;
}
