@import url(./header-footer.css);
@import url(./inputs.css);
@import url(./dialog.css);

/* ---------------     Reboot     --------------- */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* color: unset; */
}

a {
	color: unset;
}

/* ---------------     /Reboot     --------------- */
/* ---------------     Utilities & Universals     --------------- */

:root {
	--eg-var: red;
}

body {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
}

/* ---------------     /Utilities & Universals     --------------- */

/* ---------------     Main     --------------- */

main {
	flex: 1;
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: min(640px, 100%);
	margin: auto;
}

.current-info {
	min-height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.location {
	text-align: center;
}

.city {
	font-size: 40px;
}

.current-temp {
	font-weight: bold;
	font-size: 40px;
}

.forecast {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.forecast > * {
	margin: 0 10px;
}

.forecast .spacer {
	height: 1px;
	background-color: lightgrey;
}

.forecast .info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.forecast .daily {
	min-width: 60px;
	text-align: center;
}

.forecast .low {
	color: blue;
}

.forecast .high {
	color: red;
}

/* ---------------     /Main     --------------- */
