/* ---------------     Reboot     --------------- */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* color: unset; */
}

/* ---------------     /Reboot     --------------- */
/* ---------------     Utilities & Universals     --------------- */

:root{
	--eg-var: red;
}

/* ---------------     /Utilities & Universals     --------------- */
/* ---------------     CONTENT     --------------- */


/* ---------------     Header     --------------- */
/* ---------------     /Header     --------------- */

/* ---------------     Main     --------------- */
/* ---------------     Section     --------------- */
/* ---------------     /Section     --------------- */
/* ---------------     /Main     --------------- */

/* ---------------     Footer     --------------- */
/* ---------------     /Footer     --------------- */



/* ---------------     /CONTENT     --------------- */